<p-toast></p-toast>
<h2>{{ title }}</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <div>
    <div style="margin: 10px 0px">
      <div>
        Login:
      </div>
      <div>
        <input pInputText type="text" formControlName="login" name="login">
      </div>
      <div>
        <div [hidden]="loginForm.controls['login'].valid || !loginForm.controls['login'].dirty" class="alert alert-danger">
          Login is required
        </div>
      </div>
    </div>
    <div style="margin: 10px 0px">
      <div class="ui-grid-col-2">
        Password:
      </div>
      <div>
        <input pInputText type="password" formControlName="password" name="password">
      </div>
      <div>
        <div [hidden]="loginForm.controls['password'].valid || !loginForm.controls['password'].dirty">
          Password is required
        </div>
      </div>
    </div>
    <div style="margin: 10px 0px">
      <div>
        <button pButton type="submit" [label]="title" [disabled]="!loginForm.valid"></button>
      </div>
    </div>
  </div>
</form>
